* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chess-app {
  font-family: 'Arial', sans-serif;
  background: #f3f4f6;
  color: #333;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: auto;
}

.chess-header {
  background-color: #1e2a47;
  color: #fff;
  padding: 20px 40px;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.chess-header h1 {
  margin-bottom: 10px;
}

/* .ramp-back-button-container {
  position: relative;
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  margin-top: -20px;
  width: 100%;
  padding-left: 20px;

  @media (max-width: 768px) {
    padding: 0px;
    align-items: center;
  }
} */
.ramp-back-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  width: 75%;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }
}

.ramp-back-button-container img {
  width: 26% !important;

  @media (max-width: 768px) {
    width: 40px !important;

  }
}

.ramp-back-button-container h1 {
  @media (max-width: 768px) {
    font-size: 24px !important;
  }
}

.ramp-back-button {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.ramp-back-button:hover {
  transform: scale(1.1);
}


.chess-container {
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chess-section-title {
  color: #2f3e56;
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 2px solid #ff6f61;
  padding-bottom: 5px;
}

.chess-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.chess-list-item {
  font-size: 1.2rem;
  padding: 10px 0;
  line-height: 1.6;
  color: #555;
  display: flex;
  align-items: center;
}

.chess-list-item::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #ff6f61;
  clip-path: polygon(100% 50%, 0 100%, 100% 0);
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .chess-header h1 {
    font-size: 2rem;
  }

  .chess-container {
    padding: 15px;
  }

  .chess-section-title {
    font-size: 1.6rem;
  }

  .chess-list-item {
    font-size: 1rem;
  }
}